$headeer-bg:#014E56;
$span-h1-color-bg: #F67E7E;
$footer-bg:#002529;
$btn-radus:24px;
$bten-narmal-bg:#014E56;
$ntn-hover-bg:#fff;
$transition-:all 0.4s ;
$transform_: scale(1.1,1.1);
$border_hover: 2px solid chartreuse;
$border_activ:2px solid  darkorange;
$h1-h2_active:#fa6666;
$h1-h2_hover:#7ffa66;